:root {
  --main-bg-color: #252628;
  --navbar-bg-color: #181818;
  --highlight-color: #0797A4;
}
body {
  background-color: var(--main-bg-color);
}
.ced {
  z-index: 0;
  width: 30%;
  height: 734px;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
  border: 20px rgba(139, 139, 139, 0.07) solid
}
.led {
  z-index: 0;
  width: 30%;
  height: 609px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -30%;
  margin: auto;
}
#main-logo{
  position: absolute;
  height: auto;
  max-height: 734px;
  margin: auto;
  width: auto;
  max-width: 726px;
}
.greeting {
  font-size: 50pt;
  color: #F1F1F1;
}
.highlight{
  color: var(--highlight-color);
}
