.navbar {
  position: fixed;
  float: left;
  width: 60px;
  height: 100%;
  background-color: var(--navbar-bg-color);
  left: 0px;
  top: 0px;
  display: block;
  margin-right: 100px;
}
.top-logo{
  background-color: rgb(15, 14, 15);
  height: 80px;
  overflow: hidden;

}
.small-logo{
  width: 45px;
  height: 45px;
  display: block;
  margin: auto;
  padding-top: 20%;
  display: block;
}
.nav-ionicons{
  fill: rgb(180, 180, 180);
  width: 40px;
  height: 40px;
}

.nav-icons{
  display: table;
  height: 100%;
position: absolute;
overflow: hidden;
width: 100%;
}

ul{
  list-style: none;
  padding: 0px;
  margin:0 auto;
  width:200px;
}
ul li{
  padding: 5px;
}
.helper {
  display: table-cell;
  vertical-align: middle;
}
.spacer{
  height: 10%;
}
